# Node modules
node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# OS / Editor files
.DS_Store
*.swp
*.swo
*.tmp

# Git
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# Env files (keep secrets out of image)
.env
